@using SenseNet.ContentRepository
@using SenseNet.ContentRepository.Storage.Security
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h4>Hello @SenseNet.ContentRepository.User.Current.Username</h4>
    <p>
        @using (new SystemAccount())
        {
            <ul>
                @foreach (var c in Content.All.OfType<GenericContent>().OrderBy(c => c.Path))
                {
                    <li>@c.Path</li>
                }
            </ul>
        }
    </p>
</div>